*{
  margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
}
html,
body {
  background: #dfffab;
  font-family: Abel, Arial, Verdana, sans-serif;
}